{% extends 'masterlayout/master.html.twig' %}

    {% block title %}
        Product Crud
    {% endblock %}
    {% block sidebar %}

    {% endblock %}
    {% block body %}
    <div class="container">

        <h1 class="text-center">Products List</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Sr #</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for item in products %}

                <tr>
                    <td> {{ loop.index	 }} </td>
                    <td> {{ item.name }} </td>
                    <td> {{ item.price }} </td>
                    <td> {{ item.description }} </td>

                    <td> <a class="btn btn-info" href="{{ path('update_product', { 'key' :  item.id  }) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('delete_product', { 'key' :  item.id  }) }}">Delete</a> </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

        <a href="{{ path('create_product') }}">Add New Product</a>
    </div>
    {% endblock %}